<div class="prototype">
  <% if prototype.image.attached? %>
    <%= link_to prototype_path(prototype) do %>
      <%= image_tag prototype.image, alt: "Prototype image" %>
    <% end %>
  <% end %>
  <h2><%= prototype.title %></h2>
  <p><%= prototype.catch_copy %></p>
  <p>by: <%= link_to prototype.user.name, user_path(prototype.user), class: :comment_user %></p>
</div>